html, body {
    margin : 0%;
    }
    body {
    height : 100vh;
    overflow-y : scroll;
    scroll-snap-type : y mandatory;
    }
    header {
    background-color : skyblue;
    text-align : center;
    height : 6rem;
    padding : 2rem;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    header h1 {
    color : black;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : fixed;
    bottom : 0;
    }
    footer ul {
    list-style-type : none;
    }
    .txtf {
    color : black;
    justify-content : center;
    display : flex;
    margin : 0 auto;
    font-size : 17px;
    position : relative;
    line-height : 24px;
    }
    h2 {
    text-align : center;
    text-decoration : underline;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p.txt {
    font-family : italic;
    text-align : center;
    margin-left : 38%;
    margin-right : auto;
    vertical-align : middle;
    width : 20em;
    font-size : 23px;
    line-height : 50px;
    
    }
    .logo {
    width : 150px;
    height : 150px;
    margin-right : 800px;
    margin-top : -105px;
    margin-bottom : 30px;
    position : relative;
    }
    .meilleurvente > p {
    text-align : center;
    text-decoration : underline;
    font-size : 15px;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h3 p {
    margin : 3px;
    }
    .pairedumoment {
    text-align : center;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 15px;
    text-decoration : underline;
    margin-top : -23rem;
    
    }
    ul.b {
    list-style-type : number;
    text-align : center;
    padding-right : 15px;
    text-decoration : none;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border : black solid 2px;
    background-color : #F5F5F5;
    padding : 60px;
    border-radius : 23px;
    }
    .button {
    background-color : black;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    font-size : 20px;
    display : flex;
    margin : 0% auto;
    cursor : pointer;
    border-radius : 30px;
    margin-top:140px;
    }
    .pp {
    height : 270px;
    width : 270px;
    margin-left : 10px;
    display : block;
    margin : 10px;
    border : black solid 2px;
    border-radius : 23px;
    background-color : #F5F5F5;
    margin-top : 0%;
    }
    .main {
    display : flex;
    }
    .meilleurvente {
    margin-left : auto;
    display : block;
    padding-right : 20px;
    font-size : 20px;
    margin-top : -23rem;
    }
    body p {
    text-align : center;
    }
    .france {
    width : 90px;
    height : 90px;
    margin-left : 700px;
    margin-top : -700px;
    margin-bottom : 100px;
    }
    .snap {
    height : 70px;
    width : 70px;
    position : absolute;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    right : 0%;
    margin-top : 7px;
    margin-right : 7px;
    }
    a:link {
    text-decoration : none;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .b a {
    color : black;
    }
    @media (max-width: 1200px) {
    body {
    height : 100vh;
    }
    .france {
    width : 90px;
    height : 90px;
    margin-left : 380px;
    margin-top : -700px;
    margin-bottom : 90px;
    }
    .logo {
    width : 120px;
    height : 120px;
    left : 0%;
    padding-top : 10px;
    position : relative;
    }
    p.txt {
    font-family : italic;
    text-align : center;
    margin-left : auto;
    margin-right : auto;
    vertical-align : middle;
    width : 20em;
    font-size : 15px;
    line-height : 30px;
    }
    .button {
    background-color : black;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    font-size : 10px;
    display : flex;
    margin : 0% auto;
    cursor : pointer;
    border-radius : 30px;
    bottom : 0;
    }
    body {
    background-color : azure;
    }
    ul.b {
    font-size : 12px;
    padding-top : 0%;
    padding-bottom : 0%;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    left : 0%;
    margin-top : 70px;
    margin-left : 10px;
    }
    .pp {
    height : 180px;
    width : 180px;
    }
    h2 {
    font-size : 15px;
    text-align : center;
    text-decoration : underline;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .france {
    display : none;
    }
    .main {
    padding : 50px;
    display : flex;
    flex-flow : row wrap;
    }
    .pairedumoment {
    font-size : 10px;
    padding-top : 20rem;
    display : block;
    margin-left : auto;
    margin-right : auto;
    }
    .meilleurvente {
    padding-top : 25rem;
    margin-left : 10%;
    margin-right : auto;
    display : block;
    width : auto;
    height : 20%;
    }
    .meilleurvente > p {
    font-size : 10px;
    margin-top : 15%;
    line-height : 20px;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : sticky;
    bottom : 0;
    }
    header {
    background-color : skyblue;
    color : white;
    text-align : center;
    height : 6rem;
    padding : 2rem;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    }
    @media (max-width: 450px) {
    .logo {
    display : none;
    }
    }
