html, body {
    margin : 0%;
    }
    body {
    height : 100vh;
    overflow-y : scroll;
    scroll-snap-type : y mandatory;
    }
    header {
    background-color : skyblue;
    text-align : center;
    height : 6rem;
    padding : 2rem;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    header h1 {
    color : black;
    font-size : 34px;
    text-decoration: none;
    }
    .logo {
    width : 140px;
    height : 140px;
    margin-right : 800px;
    margin-top : -100px;
    margin-bottom : 30px;
    position : relative;
    }
    .france {
    width : 90px;
    height : 90px;
    margin-left : 700px;
    margin-top : -700px;
    margin-bottom : 100px;
    }
    .snap {
    height : 70px;
    width : 70px;
    position : absolute;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    right : 0;
    margin-top : 7px;
    margin-right : 7px;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : fixed;
    bottom : 0;
    }
    footer ul {
    list-style-type : none;
    }
    .txtf {
    color : black;
    justify-content : center;
    display : flex;
    margin : 0 auto;
    font-size : 17px;
    position : relative;
    line-height : 24px;
    }
    h1 {
    text-align : center;
    font-size : 25px;
    text-decoration : underline;
    }
    label, input[type="text"] {
    width : 15%;
    padding : 4px;
    border-radius : 5px;
    display : flex;
    margin-bottom : 40px;
    margin-left : 100px;
    height : 30%;
    font-family : 'Courier New', Courier, monospace;
    }
    .h {
    height : 50px;
    width : 50px;
    position : absolute;
    left : 0;
    margin-top : -140px;
    margin-left : 60px;
    }
    .button {
    background-color : black;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    display : inline-block;
    font-size : 15px;
    display : block;
    margin : 0 auto;
    cursor : pointer;
    border-radius : 30px;
    margin-top:140px;

    }
    @media (max-width: 700px) {
    body {
    height : 100vh;
    }
    .france {
    display : none;
    }
    .logo {
    width : 50px;
    height : 50px;
    padding-top : 90px;
    margin-left : 80%;
    position : relative;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    left : 0%;
    margin-top : 70px;
    margin-left : 10px;
    }
    .h {
    height : 50px;
    width : 50px;
    left : 0;
    margin-top : -15px;
    margin-left : 10px;
    }
    label, input[type="text"] {
    width : 40%;
    padding : 2px;
    border-radius : 5px;
    display : flex;
    margin-bottom : 40px;
    margin-right : auto;
    margin-left : auto;
    height : 40%;
    font-family : 'Courier New', Courier, monospace;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : sticky;
    bottom : 0%;
    }
    .button {
    background-color : black;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align : center;
    display : inline-block;
    font-size : 6px;
    display : block;
    margin : 0 auto;
    cursor : pointer;
    border-radius : 30px;
    }
    .logo {
    display : none;
    }
    }
    @media (max-width: 463px) {
    }
                      
                      
