html, body {
    margin : 0%;
    }
    body {
    height : 100vh;
    overflow-y : scroll;
    scroll-snap-type : y mandatory;
    }
    header {
    background-color : skyblue;
    text-align : center;
    height : 6rem;
    padding : 2rem;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    header h1 {
    color : black;
    }
    h2 {
    text-align : center;
    }
    h3 {
    bottom : 0%;
    margin-top : 4%;
    text-align : center;
    font-size : 30px;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : fixed;
    bottom : 0%;
    }
    footer ul {
    list-style-type : none;
    }
    .logo {
    width : 140px;
    height : 140px;
    margin-right : 800px;
    margin-top : -100px;
    margin-bottom : 30px;
    position : relative;
    }
    .france {
    width : 90px;
    height : 90px;
    margin-left : 700px;
    margin-top : -700px;
    margin-bottom : 100px;
    }
    .snap {
    height : 70px;
    width : 70px;
    position : absolute;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    right : 0;
    margin-top : 7px;
    margin-right : 7px;
    }
    .h {
    height : 50px;
    width : 50px;
    position : absolute;
    left : 0;
    margin-top : -140px;
    margin-left : 60px;
    }
    .txtf {
    color : black;
    justify-content : center;
    display : flex;
    margin : 0 auto;
    font-size : 17px;
    position : relative;
    line-height : 24px;
    }
    .chek {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 20%;
    padding-top : 5%;
    }
    @media (max-width: 700px) {
    body {
    height : 100vh;
    }
    .france {
    display : none;
    }
    .logo {
    width : 50px;
    height : 50px;
    padding-top : 90px;
    margin-left : 80%;
    position : relative;
    }
    .insta {
    height : 50px;
    width : 50px;
    position : absolute;
    left : 0%;
    margin-top : 70px;
    margin-left : 10px;
    }
    .h {
    height : 50px;
    width : 50px;
    left : 0;
    margin-top : -15px;
    margin-left : 10px;
    }
    footer {
    background-color : skyblue;
    display : flex;
    list-style-type : none;
    width : 100%;
    margin : 0%;
    position : sticky;
    bottom : 0%;
    }
    .chek {
    width : 220px;
    }
    .logo {
    display : none;
    }
    }